@model ExportTicketsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="panel">
    <div class="panel-heading">Zendesk Ticket Export Tool</div>
    <div class="panel-body">
        <form asp-controller="Home" asp-action="ExportTickets" method="post">
            Zendesk URL: <input asp-for="ZendeskURL" /> <br />
            Email: <input asp-for="Email" /> <br />
            Password: <input asp-for="Password" /> <br />
            Access Token: <input asp-for="AccessToken" /> <br />
            <button type="submit">Export</button>
        </form>
    </div>
</div>
